{% extends 'base.html.twig' %}

{% block title %}Klanten{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Voeg hier een Klant toe:</h1>

        <form method="post" action="/customer/create">
            <label for="name">Naam:</label><br>
            <input type="text" id="name" name="name"><br><br>
            <label for="address">Adres:</label><br>
            <input type="text" id="address" name="address"><br><br>
            <button class="btn btn-primary">Voeg toe!</button>
        </form>

    </div>
{% endblock %}
