{% extends 'base.html.twig' %}

{% block title %}Boeken{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Voeg hier een Boek toe:</h1>

        <form method="post" action="/book/create">

            <div class="dropdown">
                <label for="author">Auteur:</label><br>
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Selecteer Auteur
                </button>
                <ul class="dropdown-menu">

                    {% for a in authors %}
                        <li value="{{ a.id }}">{{ a.name }}</li>
                    {% endfor %}

                </ul>
            </div>

            <label for="title">Titel:</label><br>
            <input type="text" id="title" name="title"><br><br>

            <label for="isbn">ISBN:</label><br>
            <input type="text" id="isbn" name="isbn"><br><br>

            <button class="btn btn-primary">Voeg toe!</button>
        </form>

    </div>
{% endblock %}
