<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bieb!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/author" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Auteurs
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/author/list">Auteurs weergeven</a></li>
                        <li><a class="dropdown-item" href="/author">Auteur maken</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/book" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Boeken
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/book/list">Boeken weergeven</a></li>
                        <li><a class="dropdown-item" href="/book">Boek maken</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/customer" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Klanten
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/customer/list">Klanten weergeven</a></li>
                        <li><a class="dropdown-item" href="/customer">Klant maken</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/loan" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Uitleningen
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/loan/list">Uitleningen weergeven</a></li>
                        <li><a class="dropdown-item" href="/loan">Uitlening maken</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>